body {
  margin: 0;
  background-color: rgb(26, 26, 84);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
	background-color: #44496f;
	display: flex;
	padding: 1rem;
	color: #fff;
	justify-content: flex-end;
}

.search {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 900;
	border: 1px solid #74747d;
	background-color: transparent;
	color: #fff;
	padding: 0.5rem 1.5rem;
	border-radius: 10px;
}

.search:focus {
	outline: 0;
}

.movie-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-wrap: wrap;
}

.movie {
	position: relative;
	background-color: #373b69;
	margin: 1rem;
	width: 300px;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 3px 3px 5px (rgba(0, 0, 0, 0.1));
	cursor: pointer;
}

.movie img {
	object-fit: cover;
	height: 400px;
	max-width: 100%;
}

.movie-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.movie-info h3 {
	margin: 0;
	font-size: 1.5rem;
}

.movie-over {
	background-color: aliceblue;
	color: #22254b;
	padding: 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translateY(100%);
	transition: transform 0.3s ease-in-out;
	overflow: auto;
	cursor: pointer;
}

.movie:hover .movie-over{
	transform: translateY(0%);
}

.tag {
	background-color: #22254b;
	padding: 0.5rem;
	border-radius: 5px;
	font-weight: bold;
}

.tag.green {
	color: green;
}

.tag.orange {
	color: orange;
}

.tag.red {
	color: red;
}